@import '../../components/variables.css';

.title {
  background: #009688;
  text-align: center;
}

.container {
  width: 100%;
  margin: 40px auto;
  text-align: center;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.main {
  box-shadow: 2px 1px 4px 1px #ccc;
  margin: 0 auto;
  min-width: 1000px;
  height: 100%;
}
