.message {
  height: 100%;
}

.message .content {
  display: flex;
  max-width: 800px;
  margin-bottom: 0;
  position: relative;
}

.message .content .bubble {
  background: #c4cdbd;
  box-shadow: 0 5px 5px rgba(54, 116, 255, 0.196733);
  border-radius: 12px 12px 12px 0;
  padding: 15px;
  margin-bottom: 8px;
  max-width: 800px;
}

.message .bubble p {
  color: #000;
  line-height: 20px;
  max-width: 400px;
  overflow-x: hidden;
}

.message .date {
  font-size: 12px;
  opacity: 0.5;
  margin-left: 63px;
}

.message .attachment {
  display: flex;
  margin-bottom: 5px;
  order: 1;
}

.message .attachment img {
  width: 145px;
  height: 145px;
  border-radius: 8px;
}

.isMe {
  display: flex;
  flex-direction: row-reverse;
}

.isMe .fullname {
  display: flex;
  flex-direction: row-reverse;
}

.isMe .content {
  display: flex;
  max-width: 800px;
  margin-bottom: 0;
  position: relative;
  flex-direction: row-reverse;
}

.isMe .content .bubbleIsMe {
  background: limegreen;
  box-shadow: 0 5px 5px rgba(54, 116, 255, 0.196733);
  border-radius: 12px 12px 12px 0;
  padding: 15px;
  margin-bottom: 8px;
  margin-left: 5px;
  margin-right: 5px;
}

.isMe .content .bubble p {
  color: #fff;
  line-height: 20px;
  max-width: 400px;
  overflow-x: hidden;
}

.isMe .isMeDate {
  display: flex;
  font-size: 12px;
  opacity: 0.5;
  flex-direction: row-reverse;
  margin-right: 63px;
}

.deleteButton {
  display: none;

  /* margin-left: 10px; */

  /* padding: 10px; */

  /* margin-top: 1px; */

  /* margin-bottom: 1px; */
  background: #f38b55;
  height: 30px;
  width: 30px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.updateButton {
  display: none;
  background: #4687f1;
  height: 30px;
  width: 30px;
  font-size: 12px;
  font-weight: bold;
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.isMe .content:hover .deleteButton {
  display: block;

  /* position:absolute; */
  top: 15px;
  z-index: 9999;
  width: 50px;
}

.isMe .content:hover .updateButton {
  display: block;

  /* position:absolute; */
  top: 15px;
  z-index: 9999;
  width: 50px;
}
