@import '../../components/variables.css';

.container {
  background: #efefef;
  min-height: 100vh;
}

.title {
  background: #009688;
  text-align: center;
}

.content {
  width: 100%;
  margin: 40px auto;
  text-align: center;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.main {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 0 auto;
  min-width: 1000px;
  height: 100%;
  border-radius: 2px;
}
