.Aside {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 100%;
  overflow: hidden;
  box-shadow: 3px 3px 4px #aaa;
}

.addFile {
  background: #ccc;
}

.addFile > input {
  display: none;
}
