.Aside {
  display: flex;
  flex-direction: column;
  width: 170px;
  height: 100%;
  overflow: hidden;
}

.addFile {
  margin-bottom: 0;
}

.addFile > input {
  display: none;
}

.btnContainer {
  width: 100%;
  margin-top: 20px;
}
